<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Consultar Serviços</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class ="mb-4">SERVIÇOS</h1>
        <table class="table table-striped">
            <thead>
                <tr>
					<th>Id</th>
                    <th>Nome</th>
                    <th>Materiais</th>
                    <th>Horas</th>
                    <th>Preço</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="servico : ${servicos}">
					<td th:text="${servico.id}"></td>
                    <td th:text="${servico.nome}"></td>
					<td>
						<ul>
							<li th:each="material : ${servico.materiais}" th:text="${material.nome}"></li>
						</ul>
					</td>
                    <td th:text="${servico.horas}"></td>
                    <td th:text="${servico.preco}"></td>
					<td>
					 	<a class="btn btn-warning btn-sm" th:href="@{/servicos/edit/{id}(id=${servico.id})}">Editar</a>
					 	<a class="btn btn-danger btn-sm" th:href="@{/servicos/delete/{id}(id=${servico.id})}">Excluir</a>
					 </td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-success" th:href="@{/servicos/new}">Novo Serviço</a>
		<a href="/" class="btn btn-secondary">Voltar</a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
